<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appcoins.eskills2048">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_2048"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RankingsActivity"
            android:exported="true" />
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FinishGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.FitAppWindow" />

    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
        </intent>
    </queries>

</manifest>